<!-- Template Inheritance -->
{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<div id="titlebar" class="gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{room_type.type}} Room</h2>
        <nav id="breadcrumbs">
          <ul>
            <li>
              <p>{{ rooms.count }} Available Rooms
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<section class="fullwidth_block margin-top-0 padding-top-0 padding-bottom-50" data-background-color="#fff">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="headline_part centered margin-bottom-20">All Available Rooms
          <span>The {{ room_type.type }} has {{rooms.count}} rooms</span>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        {% for r in rooms %}
            <div class="plan featured col-md-4 col-sm-6 col-xs-12 mb-4">
              <div class="utf_price_plan">
                <h3>Room No. {{ r.room_number }}</h3>
                <span class="value">${{r.room_type.price}}<span>/Per Night</span></span> 
              </div>
              <div class="utf_price_plan_features">
                <ul>
                  <li>Beds: {{r.room_type.number_of_beds}}</li>
                  <li>Room Capacity: {{r.room_type.room_capacity}}</li>

                </ul>
                <input type="hidden" class="">
                <input type="hidden" class="">
                <a class="button border" href="#"><i class="sl sl-icon-basket"></i> Order Now</a>
              </div>
            </div>
        {% endfor %}

        <input type="hidden" name="" id="id">
        <input type="hidden" name="" id="hotel_name">
        <input type="hidden" name="" id="room_name">
        <input type="hidden" name="" id="">
      </div>
    </div>
  </div>
</section>

{% endblock content %}