{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
       
    <div class="clearfix"></div>
        <section class=" padding-top-20 padding-bottom-70" data-background-color="#f9f9f9">
        <div class="container">
              <div class="row justify-content-center align-items-center">
                <h1 class="text-center margin-bottom-20">Sign In</h1>
                <p class="text-center">Welcome back. Sign In to Continue</p>
                <div class="col-md-6">
                
                
                <form method="POST" class="register">
                    
                    {% csrf_token %}
                    <input type="email" name="email" id="">
                    <input type="password" name="password" id="">

                <button type="submit" class="button border fw margin-top-10"> Login </button>
            </form>
            </div>
            <div class="col-md-6">
                <img src="https://st.depositphotos.com/18722762/51522/v/450/depositphotos_515228796-stock-illustration-online-registration-sign-login-account.jpg" alt="">
            </div>
        </div>
        </section>
        
        

       

        {% endblock content %}

        